
<div id="sidebar" class="sidebar sidebar-fixed expandable sidebar-light" data-backdrop="true" data-dismiss="true" data-swipe="true">
    <div class="sidebar-inner">

        <div class="ace-scroll flex-grow-1 mt-1px" data-ace-scroll="{}">

            <nav class="pt-3" aria-label="Main">
                <ul class="nav flex-column has-active-border">


                    <li class="nav-item @GetActive("", NavLinkMatch.All)">
                        <NavLink class="nav-link" href="/">
                            <i class="nav-icon fa fa-home"></i>
                            <span class="nav-text fadeable">Inicio</span>
                        </NavLink>
                    </li>

                    <li class="nav-item @GetActive("citas", NavLinkMatch.All)">
                        <NavLink class="nav-link" href="/citas">
                            <i class="nav-icon fa fa-university"></i>
                            <span class="nav-text fadeable">Citas</span>
                        </NavLink>
                    </li>

                    <li class="nav-item @GetActive("clinica", NavLinkMatch.All)">
                        <NavLink class="nav-link" href="/clinica">
                            <i class="nav-icon fa fa-cubes"></i>
                            <span class="nav-text fadeable">Clinica</span>
                        </NavLink>
                    </li>

                    <li class="nav-item @GetActive("doctores", NavLinkMatch.All)">
                        <NavLink class="nav-link" href="/doctores">
                            <i class="nav-icon fa fa-cubes"></i>
                            <span class="nav-text fadeable">Doctores</span>
                        </NavLink>
                    </li>
                    <li class="nav-item @GetActive("pacientes", NavLinkMatch.All)">
                        <NavLink class="nav-link" href="/pacientes">
                            <i class="nav-icon fa fa-cubes"></i>
                            <span class="nav-text fadeable">Pacientes</span>
                        </NavLink>
                    </li>
                    <li class="nav-item @GetActive("consultorio", NavLinkMatch.All)">
                        <NavLink class="nav-link" href="/consultorio">
                            <i class="nav-icon fa fa-cubes"></i>
                            <span class="nav-text fadeable">Consultorio</span>
                        </NavLink>
                    </li>
                    <li class="nav-item @GetActive("diagnostico", NavLinkMatch.All)">
                        <NavLink class="nav-link" href="/diagnostico">
                            <i class="nav-icon fa fa-cubes"></i>
                            <span class="nav-text fadeable">Diagnostico</span>
                        </NavLink>
                    </li>
                    <li class="nav-item @GetActive("diagnosticodecita", NavLinkMatch.All)">
                        <NavLink class="nav-link" href="/diagnosticodecita">
                            <i class="nav-icon fa fa-cubes"></i>
                            <span class="nav-text fadeable">Diagnostico De Cita</span>
                        </NavLink>
                    </li>
                    <li class="nav-item @GetActive("medicamentos", NavLinkMatch.All)">
                        <NavLink class="nav-link" href="/medicamentos">
                            <i class="nav-icon fa fa-cubes"></i>
                            <span class="nav-text fadeable">Medicamentos</span>
                        </NavLink>
                    </li>
                    <li class="nav-item @GetActive("medicamentodecita", NavLinkMatch.All)">
                        <NavLink class="nav-link" href="/medicamentodecita">
                            <i class="nav-icon fa fa-cubes"></i>
                            <span class="nav-text fadeable">Medicamentos De Cita</span>
                        </NavLink>
                    </li>

                </ul>
            </nav>

        </div>

    </div>
</div>

@code {

    [Inject]
    NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized() => NavigationManager.LocationChanged += (s, e) => StateHasChanged();

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "active" : "na";
}